
<!-- we are listening for the featureSelected event that will execute on onNavigate. use $event to get access to data an event passes to us.  -->
<!-- then add onNavigate to app.component.ts -->
<app-header ></app-header>
<!-- (featureSelected)="onNavigate($event)" no longer need this will be replaced with router-outlet  -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- will render the component we should load depending on the path we are at.  -->
      <router-outlet></router-outlet>
      <!-- now that we are getting this loadedFeature we can use ngIf to determine which of the two components should be displayed. -->
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes> -->
      <!-- app recipes should be displayed if loaded features equal to recipe  -->
      <!-- <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
          <!-- shopping-list is loaded  when not equal to recipe. -->
    </div>
  </div>
</div>